.log-info, .messages {
	width: 300px;
	height: calc(100vh - 56px);
	overflow: auto;
	box-sizing: border-box;
	text-align: center;
	float: left;
	background: #232323;

  p {
    padding: 10px;

    &.attack-message {
    	background: red;
    }

    &.helper-message {
    	background: lightgreen;
    }

    &.defeat-message {
      background: lightgrey;
    }
    
  }
}
