.messages {
	width: 300px;
	height: calc(100vh - 56px);
	overflow: auto;
	box-sizing: border-box;
	text-align: center;
	float: left;
	background: #232323;
	@include transition(width, 1s);
	@include inset-shadow();

  p {
    padding: 10px;
		margin: 0;

    &.warning-message {
    	background: $health-bar-color;
    }

    &.helper-message {
    	background: lightgreen;
    }

    &.defeat-message {
      background: $exp-bar-color;
    }

  }

	&.opened {
		width: 200px;
		overflow-y: auto;
	}


}
