#player-state {
	position: fixed;
	top: calc(3% + 56px);
	left: calc(3% + 250px);

	> * {
		margin-bottom: 5px;
	}

	.level {
		height: 22px;
		margin: 0;
		width: 100%;
		color: $exp-bar-color;

		p {
			line-height: 22px;
			width: 100%;
			margin: 0;
			font-size: 20px;

			.fa.fa-chevron-up {
				margin-right: 5px;
			}
		}
	}

  .bar {
  	width: 100px;
  	height: 10px;
  	padding: 3px;

    div {
      height: 100%;
    }

    &.health {
      border: 3px solid $health-bar-color;

      div {
        background: $health-bar-color;
      }
    }

    &.experience {
      border: 3px solid $exp-bar-color;

      div {
        background: $exp-bar-color;
      }
    }
  }

}
