header {
	padding: 20px;
	background: #232323;
	color: white;
	box-sizing: border-box;
	@include transition(width, 1s);
	@include inset-shadow();

	a {
		color: white;
		font-weight: bold;

		&:visited {
			color: white;
		}

		&:active {
			color: white;
		}
	}

  li {
    margin-left: 10px;
  	display: inline;

		&:last-child {
			background: $exp-bar-color;
			color: $health-bar-color;
		}
  }

  button {
    float: right;
  }

	&.opened {
		width: 200px;
	}

}
