header {
	padding: 20px;
	background: #232323;
	color: white;
	box-sizing: border-box;
	@include transition(width, 1s);
	@include inset-shadow();

  li {
    margin-left: 10px;
  	display: inline;
  }

  button {
    float: right;
  }

	&.opened {
		width: 200px;
	}

	#close-header {
		position: fixed;
		top: 50%;
		right: 0;
		display: none;
		padding: 5px;
		background: lightgrey;
		transform: translateY(-50%);
		z-index: 99999;

		@include transition(right, 1s);

		&.opened {
			right: 200px;
			color: $health-bar-color;
		}
	}
}
