#main-container {
	position: relative;
	width: calc(100vw - 550px);
	height: calc(100vh - 56px);
	float: left;
	overflow: auto;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(205,173,0,1);
		 -moz-box-shadow: inset 0px 0px 5px 5px rgba(205,173,0,1);
					box-shadow: inset 0px 0px 5px 5px rgba(205,173,0,1);

  main {
  	position: absolute;
    width: $cell-size * $cell-in-row;
  }

}
